body{
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

title{
    color: red;
}


h1{

    font-family: 'Sacramento', cursive;
    margin: auto 0 auto 0;
    color: wheat;
    font-size: 5.625rem;
    
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: red;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: red;
}
p{
    margin-top: 0px;
    color: wheat;

}
img{
    padding: 10px;
}

.Aboutme{
    color: red;
}

.job-description{
    font-size: 2.5rem;
    color: red;
}

.top-container{
    background-color: black;
    position: relative;
    padding-top: 175px;
    height: 25%;    
}

.Message-box{
    margin-bottom: 0px;
}


.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
    height: 100px;
    width: 120px;
    border: none;

}

.bottom-server{
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: none;
}

.bottom-cloud{
    position: absolute;
    left: 350px;
    top: 50px; 
    height: 100px;
    width: 120px; 
    border: none;
}

.APlusLogo{
    height: 120px;
    width: 120px;
}

/*.middle-container{

}


.bottom-container{

}
*/
.pro{
    text-decoration: underline;
}



#top-container-text{
    margin: 0 auto ;
    position: absolute;
}

#Contact-Message-Box{
    height: 399px;
    width: 989px;
}
