a {
    text-decoration: none;
    color: black;

}

body {
    background-color: #F9E2AF;
    font-family: 'IBM Plex Sans', sans-serif;

}

h1 {
    color: #F9E2AF;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

a:hover {
    color: #FF8400;
}


/* @media (min-width: 280px) and (max-width: 480px) { 
    body {
        height: fit-content;
    }
    
} */

.background-info {
    padding-top: 10%;
    padding-bottom: 5%;
    display: block;
    text-align: center;
    background-color: #5F9DF7;

}

.background-text {
    width: 50%;
    color: #5f2703;
    font-family: 'IBM Plex Sans', sans-serif;


}




.container-3 {
    padding-top: 100px;
}

.design-1 {
    background-color: #5F9DF7;
    width: 10%;
    height: 18%;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    right: 30%;
    z-index: -3;
    max-width: 100%;

}

.design-2 {
    background-color: #1746A2;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: -2;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%)
}

.grade-c2 {
    padding-top: 15%;
}


.middle-container {
    display: grid;
    position: relative;
    flex-wrap: wrap;
    grid-template-columns: 5fr 5fr;
}


.name-top {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #1746A2;

}

.navbar-brand {
    position: absolute;
    left: 0;
    top: 1%;
}


.skills-goals {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%;
    color: #fff;
    background-color: #13306b;
    border-left: solid;
    
}

.skill-grade {
    display: grid;
    grid-template-rows: repeat(2, 5rem);
    grid-template-columns: repeat(2, 5rem);
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 30%;

}

.Skills-Certificates {
    color: #FF8400;
}


.text-1-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: left;

}

.top-container {
    background-color: #F9E2AF;
    padding-bottom: 7%;
    position: relative;
    z-index: 5;
    padding-top: 5%;


}

.title-1 {
    color: #F9E2AF;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

.title-2 {
    text-align: center;
    font-family: 'Sacramento', cursive;

}

.top-navbar {
    list-style-type: none;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25%;
    text-decoration: none;
}

.top-page-text {
    text-align: center;
    display: inline;
    flex-wrap: wrap;
    color: #1746A2;
    font-family: 'IBM Plex Sans', sans-serif;
}