body{
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    text-align: center;
    background-color: #181823;
}

hr{
    border-style: none;
    border-top: dotted;
    border-color: #9B0000;
    border-width: 8px;
    width: 10%;
    height: 0px;
    margin: 100px auto;
}

h1{

    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    margin: auto 0 auto 0;
    color: wheat;
    font-size: 5.625rem;
    
}


h2{
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-top: 40px;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-top: 55px;
}
p{
    margin-top: 0px;
    color: wheat;
    line-height: 2;
}
img{
    padding: 10px;
}

.Work_Experience-row{
    margin: 0 0 0 0;
    margin-top: 80px;
}

.middle-container{
    margin: 100px 0;
}

.Work_Experience{
    width: 50%;
    margin: 0 auto 0 auto;
    margin-bottom: 0;
}

.job-description{
    font-size: 2.5;
    color: red;
    margin: 0 auto 0 auto;
}


.top-container{
    background-color: black;
    position: relative;
    padding-top: 175px;
    height: 25%;    
}

.Message-box{
    margin-bottom: 0px;
}

.Aboutme{
    color: red;
}


.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
    height: 100px;
    width: 120px;
    border: none;

}
.network-image{
    float: left;
    width: 25%;

}

.board-image{
    float: right;
    width: 25%;
    
}
.welcome-text{
    text-align: left;
    line-height: 2;
    width: 55%;
    margin: auto;
}

.exp-text{
    text-align: auto;
    margin-left: 200px;
    
}

.exp-text1{
    text-align: left;
    line-height: 2;
    margin-right: 200px;
    
}

.Skills-Certificates{
    margin: 40px auto 40px auto;
}

.skills-table{
    margin: 40px auto 40px auto;
}

.cert-table{
    margin: 40px auto 40px auto;
}

.bottom-server{
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: none;
}

.bottom-cloud{
    position: absolute;
    left: 350px;
    top: 50px; 
    height: 100px;
    width: 120px; 
    border: none;
}

.APlusLogo{
    height: 120px;
    width: 120px;
}



.pro{
    text-decoration: underline;
}



#top-container-text{
    margin: 0 auto ;
    position: absolute;
}


#Contact-Message-Box{
    height: 399px;
    width: 989px;
}