body{
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}



h1{

    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    margin: auto 0 auto 0;
    color: wheat;
    font-size: 5.625rem;
    
}


h2{
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-top: 0px;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: red;
}
p{
    margin-top: 0px;
    color: wheat;

}
img{
    padding: 10px;
}

.Work_Experience{
    width: 50%;
    margin: 0 auto 0 auto;
}

.job-description{
    font-size: 2.5;
    color: red;
}

.top-container{
    background-color: black;
    position: relative;
    padding-top: 175px;
    height: 25%;    
}

.Message-box{
    margin-bottom: 0px;
}

.Aboutme{
    color: red;
}


.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
    height: 100px;
    width: 120px;
    border: none;

}
.Skills-Certificates{
    margin: 0 auto 0 auto;
}

.skills-table{
    margin: 0 auto 0 auto;
}

.cert-table{
    margin: 0 auto 0 auto;
}

.bottom-server{
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border: none;
}

.bottom-cloud{
    position: absolute;
    left: 350px;
    top: 50px; 
    height: 100px;
    width: 120px; 
    border: none;
}

.APlusLogo{
    height: 120px;
    width: 120px;
}



.pro{
    text-decoration: underline;
}



#top-container-text{
    margin: 0 auto ;
    position: absolute;
}


#Contact-Message-Box{
    height: 399px;
    width: 989px;
}